---
import "@unocss/reset/tailwind.css";
import "virtual:uno.css";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { ViewTransitions } from "astro:transitions";

const title: string = "Global Liaison";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- <ViewTransitions /> -->
    <Header />
    <h1 class="text-20 text-blue-500 font-bold">{title}</h1>
    <Footer />
  </body>
  <script>
    import "@/scripts/menu.ts";
  </script>
</html>
