---
import SmallHeaderLayout from "@/layouts/SmallHeaderLayout.astro";
import fetchApi from "@/lib/strapi";
import { Image } from "astro:assets";

const response = await fetchApi<any>({
  endpoint: "recruitment-posts?pagination[page]=1&pagination[pageSize]=3&populate=images", // the content type to fetch
  // wrappedByKey: "data", 
  // the key to unwrap the response
});

const posts = response.data;

const meta = response.meta;
---
<SmallHeaderLayout pageTitle="Recruitment">
  <Fragment>
    <h1 text-center font-bold text-2xl mb-5 text-primary uppercase>Recruitment</h1>
    {posts.map((post)=>
    <div flex flex-col>
      <article mb-10>
      <Image src={"http://localhost:1337"+post.attributes.images.data[0].attributes.url} alt="Hiring" class="shadow-md" width={post.attributes.images.data[0].attributes.width} height={post.attributes.images.data[0].attributes.height} format="webp"/> 
      <p p-3 font-semibold text-primary><a href={`/recruitments/${post.attributes.slug}`}>{post.attributes.title}</a></p> 
    </article>
    </div>
    <div>
    {meta.pagination.pageSize.map((idx,item)=><>{idx+1}</>)}
    </div>
    )}
</Fragment>
</SmallHeaderLayout>

<!-- <a href={}/> -->


