<!-- ---
import { marked } from 'marked';
import BlogLayout from "@/layouts/BlogLayout.astro";
import fetchApi from "@/lib/strapi";
import { Image } from 'astro:assets';
import { fade } from 'astro:transitions';

export async function getStaticPaths() {
  const posts = await fetchApi<any>({
    endpoint: "recruitment-posts?populate=*",
    wrappedByKey: "data",
  });

  return posts.map((post) => ({
    params: { slug: post.attributes.slug },
    props: post,
  }));
  
}
console.log(Astro.params);


const post = Astro.props

const {job, images ,title} = post.attributes


const content = marked.parse(post.attributes.content);

const url = "http://localhost:1337"+images.data[0].attributes.url;

---
<BlogLayout blogTitle={job.data.attributes.title}>
  <div mx-auto class="max-w-[600px]">
    <h2 text-2xl text-center my-5 font-bold>{title}</h2>
    <Image src={url} alt="Hiring" width={700} height={50}/> 
    <article my-10 set:html={content}/>
    <button border border-primary py-2 px-3 transition:animate={fade({ duration: '0.5s' })}>Apply now</button>
    </div>
</BlogLayout> -->