---
import { Image } from "astro:assets";
import about from "@/assets/about.jpg";
import OurVision from "./OurVision.astro";
import OurTeam from "./OurTeam.astro";
import ContactUs from "./ContactUs.astro";
---

<section>

  <OurVision/>
  <OurTeam/>
  <ContactUs/>
</section>
