---
import RecruitmentSlider from "./RecruitmentSlider";
---

<div md:grid container grid-cols-3 gap-20>
  <div col-start-2 col-end-4>
    <p text-xl py-10 font-medium md:(text-2xl py-16)>
      With decades of experience, a talented team of architects and designers,
      and a commitment to excellence, we're ready to tackle your next project.
      Whether you're planning a commercial development, a residential
      renovation, or anything, we're here to guide you through every step of the
      process.
      <a href="/contact" text-primary inline-flex items-center>
        Contact us
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: #30A2FF;transform: ;msFilter:;"
          ><path d="M16 13h-6v-3l-5 4 5 4v-3h7a1 1 0 0 0 1-1V5h-2v8z"
          ></path></svg
        >
      </a> to learn more about how we can help urn your vision into reality
    </p>
    <!-- Recruitment -->
      <RecruitmentSlider client:visible />
  </div>
</div>
