---
import Social from "./Social.astro";
---

<footer container px-5 md:px-20 mb-5 mx-auto>
 <div flex flex-col md:flex-row gap-x-10>
  <div mb-5>
    <strong>About us</strong>
    <p my-3>We provide creative solutions to clients around the world, creating things that get attention and meaningful.</p>
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
  </div>
  <div mb-5>
    <strong>Contact</strong>
   <div flex flex-col gap-y-2>
    <span>Location: 1351 Huynh Tan Phat, Ward 7, Ho Chi Minh City</span>
   <span>Phone: +1 222 212 3819</span>
   <p>Mail: <a href="">career@globalliaison.vn</a></p>
   </div>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1960.1187064705816!2d106.73632818265956!3d10.716162798972801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f9eb1ea300f%3A0xb3323996cea7ea54!2sC%C3%B4ng%20Ty%20Tnhh%20Global%20Liaison!5e0!3m2!1sen!2sph!4v1692640672858!5m2!1sen!2sph" w-full class="h-100 md:h-50" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></footer>
 </div>
