---

const localAlt="Logo"
---
<div>
  <a href="/">
    <span font-bold>Global Liaison</span>
    <!-- <Image
    class="object-cover"
    width={80}
    src={logo}
    alt={localAlt} 
    /> -->
  </a>
 </div>