---
import service01 from "@/assets/service01.jpg";
import service02 from "@/assets/service02.jpg";
import service03 from "@/assets/service03.jpg";

import { Image } from "astro:assets";
import Button from "./Button.astro";
---

<div container bg-secondary py-20>
  <div md:grid grid-cols-3 gap-10>
    <div>
      <h2 text-14 font-semibold mb-2 text-white text-shadow>Our Service</h2>
      <Button
        title="See them"
        className="shadow-md bg-primary rounded-full border-none text-white capitalize"
      />
    </div>
    <p col-start-3 py-10 text-md text-white text-shadow>
      We monitor merchants’ accounts closely to ensure their fees are correct
      and their information are updated in a timely manner. We want to make sure
      we are able to provide the most beneficial solution to our merchants at
      any given point in time.
    </p>
  </div>
  <div md:grid grid-cols-3 gap-10>
    <div mt-5>
      <span
        inline-block
        py-1
        rounded-full
        text-white
        pl-6
        pr-4
        relative
        shadow-md
        bg-slate-500 
        class=" before:(absolute content-[''] w-3 h-3 rounded-full bg-gray-light top-1/2 left-2 shadow-md -translate-y-1/2)"
        mb-5
        relative
        shadow-md
      >
        Pantry
      </span>
      <Image src={service01} alt="About" class="rounded-xl h-120 shadow" />
    </div>
    <div mt-5>
      <span
        inline-block
        py-1
        rounded-full
        text-white
        bg-slate-500 
        pl-6
        pr-4
        relative
        shadow-md
        class="before:(absolute content-[''] w-3 h-3 rounded-full bg-gray-light top-1/2 left-2 shadow-md -translate-y-1/2)"
        mb-5
        relative
        shadow-md
        class="before:(absolute content-[''] w-2 h-2 rounded-full bg-blue-light top-1/2 left-1 -translate-y-1/2)"
      >
        Gym
      </span>
      <Image src={service02} alt="About" class="rounded-xl h-120 shadow" />
    </div>
    <div mt-5>
      <span
        inline-block
        py-1
        rounded-full
        text-white
        bg-slate-500 
        pl-6
        pr-4
        relative
        shadow-md
        class="before:(absolute content-[''] w-3 h-3 rounded-full bg-gray-light top-1/2 left-2 shadow-md -translate-y-1/2)"
        mb-5
        relative
        shadow-md
      >
        Gaming room
      </span>
      <Image src={service03} alt="About" class="rounded-xl h-120 shadow" />
    </div>
  </div>
</div>
