---
import Button from "./Button.astro";
---

<div container class="bg-blue-light">
  <!-- our team -->
  <div md:grid grid-cols-3 gap-5 class="">
    <div>
      <h2 text-16 font-semibold mb-2 text-white text-shadow>Our Team</h2>
      <Button
        title="See them"
        className="shadow-md bg-primary rounded-full border-none text-white capitalize"
      />
    </div>
    <div col-start-3>
      <p py-10 text-xl text-white text-shadow>
        We monitor merchants’ accounts closely to ensure their fees are correct
        and their information are updated in a timely manner. We want to make
        sure we are able to provide the most beneficial solution to our
        merchants at any given point in time.
      </p>
    </div>
  </div>
  <div md:grid grid-cols-3 gap-5 x-5 class="">
    <div mt-5>
      <h5 mb-4 font-semibold text-white>Communication</h5>
      <p text-md text-gray-800>
        We monitor merchants’ accounts closely to ensure their fees are correct
        and their information are updated in a timely manner. We want to make
        sure we are able to provide the most beneficial solution to our
        merchants at any given point in time.
      </p>
    </div>
    <div mt-5>
      <h5 mb-4 font-semibold text-white>Communication</h5>
      <p text-md text-gray-800>
        We monitor merchants’ accounts closely to ensure their fees are correct
        and their information are updated in a timely manner. We want to make
        sure we are able to provide the most beneficial solution to our
        merchants at any given point in time.
      </p>
    </div>
    <div mt-5>
      <h5 mb-4 font-semibold text-white>Communication</h5>
      <p text-md text-gray-800>
        We monitor merchants’ accounts closely to ensure their fees are correct
        and their information are updated in a timely manner. We want to make
        sure we are able to provide the most beneficial solution to our
        merchants at any given point in time.
      </p>
    </div>
  </div>
  <!-- our team -->
  <div py-20 font-medium text-2xl max-w-100 mx-auto text-white>
    <p>
      Our interior design services focus on creaing spaces that are both
      functional and visually appealing. We work closely with our clients to
      understand their aesthetic preferences and design spaces that reflect
      their unique personalities and lifestyles. We ensure that every aspect of
      the space is carefully considered and thoughtfully considered and
      thoughtfully executed
    </p>
  </div>
  <div md:grid grid-cols-3  py-5 border-t-1  class=""> 
    <h3 font-semibold text-2xl text-white>HR team</h3> 
    <h3 font-semibold text-2xl text-white>Marketing team</h3>
    <h3 font-semibold text-2xl text-white>Tech Support team</h3>
    <h3 font-semibold text-2xl text-white>Non-tech team</h3>
  </div>
</div>
