---
import Logo from "./Logo.astro";
import Navigation from "./Navigation";
import ToggleNav from "./ToggleNav";

---
<header relative class="bg-header container md:(max-w-full)">
  <div
    py-5
    flex
    items-center
    justify-between
    text-white
  >
    <Logo />
    <div relative flex items-center justify-between gap-x-2>
      <a
        block
        px-3
        py-1
        font-medium
        rounded-full
        w-fit
        class="bg-[#30A2FF] hover:bg-[#30A2FF] focus:bg-[#30A2FF]"
        href="/"
      >
        Contact
      </a>
      <ToggleNav client:load />
      <Navigation client:load />
    </div>
  </div>
    <!-- <div
      class="md:(max-w-2/3 mt-46) mt-20"
    >
      <h1
      text-white
      text-10
      md:text-24
      font-bold
      leading-tight
      >
       Transforming your vision into
      <span flex items-center>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 25 25"
          class="w-30 h-30 md:(w-50 h:50)"
          ><path
            style="fill:#0880e5"
            d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
            data-name="Right"></path></svg
        >
        <span leading-30 class="text-primary">reality.</span>
      </span>
      </h1>
    <p text-white mt-10 text-lg>Ready to make your architectural vision a reality? Our team of experts is standing by to help bring your project to life.</p>
  </div> -->
</header>
<script>
  import "@/main.ts";
</script>