---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>
    Design by Website Team at <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
</footer>
