---
---

<div class="pr-5 pointer md:none">
  <span class="block w-6 h-[2px] mb-[5px] bg-[#ff9776]"></span>
  <span class="block w-6 h-[2px] mb-[5px] bg-[#ff9776]"></span>
  <span class="block w-6 h-[2px] mb-[5px] bg-[#ff9776]"></span>
</div>
