---
---

<div class="pr-5 md:none">
  <span class="block w-5 h-[2px] mb-[4px] bg-[#ff9776]"></span>
  <span class="block w-5 h-[2px] mb-[4px] bg-[#ff9776]"></span>
  <span class="block w-5 h-[2px] mb-[4px] bg-[#ff9776]"></span>
</div>
