---
import Logo from "./Logo.astro";
import Navigation from "./Navigation";
import ToggleNav from "./ToggleNav";
---

<header relative class="min-h-[75vh] md:min-h-[100vh] bg-header">
  <div
    absolute
    w-full
    flex
    items-center
    justify-between
    p-5
    text-white
    class="animated animated-slow animated-fade-in-down"
  >
    <Logo />
    <div flex items-center justify-between gap-x-2>
      <a
        block
        px-3
        py-1
        font-medium
        rounded-full
        w-fit
        class="bg-[#30A2FF] hover:bg-[#30A2FF] focus:bg-[#30A2FF]"
        href="/"
      >
        Contact
      </a>
      <ToggleNav client:load />
      <Navigation client:load />
    </div>
  </div>
  <h1
    absolute
    top-40
    left-5
    text-white
    text-13
    md:text-30
    font-bold
    leading-tight
    class="md:max-w-2/3 animated animated-fade-in-left animated-slow"
  >
    Transforming your vision into
    <div flex items-center>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 25 25"
        class="w-30 h-30 md:(w-50 h:50)"
        ><path
          style="fill:#125287"
          d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
          data-name="Right"></path></svg
      >
      <span leading-30 class="text-[#125287]"> reality.</span>
    </div>
  </h1>
</header>
