---
import { isMenuOpen } from "@/store";

const _isMenuOpen = isMenuOpen.get();
---

<div
  absolute
  top-14
  flex-col
  items-end
  class:list={["toggle", { classNames: _isMenuOpen }]}
>
  <a
    block
    px-3
    py-1
    font-medium
    rounded-full
    w-fit
    class="hover:bg-[#30A2FF] focus:bg-[#30A2FF]"
    href="/">Home</a
  >
  <a
    block
    px-3
    py-1
    font-medium
    rounded-full
    w-fit
    class="hover:bg-[#30A2FF] focus:bg-[#30A2FF]"
    href="/recruitment/">Recruitment</a
  >
  <a
    block
    px-3
    py-1
    font-medium
    rounded-full
    w-fit
    class="hover:bg-[#30A2FF] focus:bg-[#30A2FF]"
    href="/contact/"
    >Contact Us
  </a>
</div>
