---
---

<div flex sm:justify-between>
  <a
    pt-3.5
    py-5
    inline-block
    class="hover:bg-[#ff9776] focus:bg-[#ff9776]"
    href="/">Home</a
  >
  <a href="/about/">About</a>
  <a href="/services/">Services</a>
  <a href="/recruitment/">Recruitment</a>
  <a href="/contact/">Contact Us</a>
</div>
