---
import service01 from "@/assets/service01.jpg";
import service02 from "@/assets/service02.jpg";
import service03 from "@/assets/service03.jpg";

import { Image } from "astro:assets";
import Button from "./Button.astro";
---

<div bg-secondary class="container-1000">
  <div grid grid-cols-3 gap-5>
    <div>
      <h2 text-16 font-semibold mb-2 text-white text-shadow>Our Service</h2>
      <Button
        title="See them"
        className="shadow-md bg-primary rounded-full border-none text-white capitalize"
      />
    </div>
    <div col-start-3>
      <p py-10 text-white text-shadow>
        We monitor merchants’ accounts closely to ensure their fees are correct
        and their information are updated in a timely manner. We want to make
        sure we are able to provide the most beneficial solution to our
        merchants at any given point in time.
      </p>
    </div>
  </div>
  <div grid grid-cols-3 gap-5>
    <div>
      <span
        inline-block
        py-1
        rounded-full
        text-white
        bg-gray-light
        pl-6
        pr-4
        relative
        shadow-md
        class="before:(absolute content-[''] w-3 h-3 rounded-full bg-primary top-1/2 left-2 shadow-md -translate-y-1/2)"
        mb-5
        relative
        shadow-md
        class="before:(absolute content-[''] w-2 h-2 rounded-full bg-blue-light top-1/2 left-1 -translate-y-1/2)"
      >
        Pantry
      </span>
      <Image src={service01} alt="About" class="rounded-xl h-120 shadow" />
    </div>
    <div>
      <span
        inline-block
        py-1
        rounded-full
        text-white
        bg-gray-light
        pl-6
        pr-4
        relative
        shadow-md
        class="before:(absolute content-[''] w-3 h-3 rounded-full bg-primary top-1/2 left-2 shadow-md -translate-y-1/2)"
        mb-5
        relative
        shadow-md
        class="before:(absolute content-[''] w-2 h-2 rounded-full bg-blue-light top-1/2 left-1 -translate-y-1/2)"
      >
        Gym
      </span>
      <Image src={service02} alt="About" class="rounded-xl h-120 shadow" />
    </div>
    <div>
      <span
        inline-block
        py-1
        rounded-full
        text-white
        bg-gray-light
        pl-6
        pr-4
        relative
        shadow-md
        class="before:(absolute content-[''] w-3 h-3 rounded-full bg-primary top-1/2 left-2 shadow-md -translate-y-1/2)"
        mb-5
        relative
        shadow-md
        class="before:(absolute content-[''] w-2 h-2 rounded-full bg-blue-light top-1/2 left-1 -translate-y-1/2)"
      >
        Gaming room
      </span>
      <Image src={service03} alt="About" class="rounded-xl h-120 shadow" />
    </div>
  </div>
</div>
