---
import "virtual:uno.css";
import Header from "@/components/Header.astro";
import CommondHead from "@/components/CommondHead.astro";

const { pageTitle = "News | ", blogTitle }: Record<string, any> = Astro.props;
---

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
  /* Unscoped, delivered as-is to the browser.
     Applies to all <h1> tags on your site. */
  body {
    font-family: "Poppins";
    background-color: rgba(39, 183, 245, 0.125);
  }
  img {
    max-width: 100%;
    object-fit: cover;
  }
</style>
<html lang="en">
  <CommondHead title={pageTitle + blogTitle} />
  <body>
    <Header/>
    <main container max-w-200 mx-auto mt-10 class="h-[100vh]"> 
      <slot />
    </div>
    <!-- <Footer /> -->
  </body>

</html>
