---
import "virtual:uno.css";
import Footer from "@/components/Footer.astro";
import CommondHead from "@/components/CommondHead.astro";
import SmallHeader from "@/components/SmallHeader.astro";
import { getImage } from "astro:assets";
import bgBlog from '@/assets/bg-blog.png'


const optimizedBackground = await getImage({src: bgBlog, format: 'avif'})

const { pageTitle = "News | ", blogTitle }: Record<string, any> = Astro.props;
---

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
  /* Unscoped, delivered as-is to the browser.
     Applies to all <h1> tags on your site. */
  body {
    font-family: "Poppins";
  }
  img {
    max-width: 100%;
    object-fit: cover;
  }
</style>
<html lang="en">
  <CommondHead title={pageTitle + blogTitle} />
  <body bg-body>
    <SmallHeader/>
    <main container py-10> 
      <slot />
    </main>
    <Footer />
  </body>

</html>
